<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shopping Cart</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- User has no Orders -->
  <ng-template [ngIf]="cart.isEmpty()">
    <ion-text class="ion-text-center just">
      <h2>Your cart is empty️</h2>
      <div class="ion-justify-content-center">
        <img width="70%" alt="Empty shopping cart." src="./assets/empty_cart.svg"/>
      </div>
      <p><ion-note>You have no orders yet...</ion-note></p>
      <p>Switch to the menu tab and add some drinks to create an order.</p>
    </ion-text>
  </ng-template>

  <!-- User has Orders -->
  <ng-template [ngIf]="!cart.isEmpty()">
    <ion-item lines="full">
      <ion-icon name="information-circle-outline" class="ion-margin-end" color="primary"></ion-icon>
      <ion-label class="ion-text-wrap" color="medium">
        You can order with the generated QR Code.
        Just let a waiter scan it.
      </ion-label>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <qrcode class="ion-margin-top" [qrdata]="qrData" [width]="256" [colorLight]="'#ffffff'" [margin]="2"
              [colorDark]="qrColor"></qrcode>
    </ion-row>


    <!-- List Header Full Lines -->
    <ion-list-header lines="full">
      <ion-label>Your Order</ion-label>
      <ion-button (click)="presentClearAlert()">Clear<ion-icon style="font-size: large; margin-left: 5px;" name="trash-outline"></ion-icon></ion-button>
    </ion-list-header>

    <ion-list *ngFor="let order of cart.items">
      <ion-item >
        <ion-text slot="start">{{order.amountInCart}}</ion-text>
        <ion-label class="ion-text-wrap">{{order.name}} <ion-text color="medium">({{app.formatNicely(order.amount)}}l)</ion-text></ion-label>
        <span>€{{app.formatNicely(order.amountInCart * order.price)}}</span>
      </ion-item>
    </ion-list>
    <ion-item lines="full">
      <ion-text slot="start"><b>{{cart.totalAmountOfItemsInCart()}}</b></ion-text>
      <ion-label><b>Total</b></ion-label>
      <b>€{{app.formatNicely(cart.totalPrice())}}</b>
    </ion-item>
  </ng-template>
</ion-content>
