<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping Cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shopping Cart</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label class="ion-text-wrap">
      You can order with the generated QR Code.
      Just let a waiter scan it.
    </ion-label>
  </ion-item>

  <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>

</ion-content>
